.quran-container{
    background-image: url("../../img/new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    min-height: 700px;
}
.text-container{
    background-color:rgba(128, 128, 128, 0.445);
    align-items: center;
    justify-content: center;
    color:white;
    text-align: justify;
    margin: 200px 100px;
    transition-duration: 1s;
    padding: 20px;
    border-radius: 10px;

}
.text-container:hover{
    color:whitesmoke;
    background-color:darkslategray;
}

.enroll-btn{
    background-color:aliceblue;
    border: none;
    border-radius:5px ;
    color:saddlebrown;
    padding: 10px 20px;
    font-weight: bold;
}
.enroll-btn:hover{
    color: maroon;
    background-color: mintcream;
}