.quran-container{
    background-image: url("../../img/new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    min-height: 850px;
}
.text-container{
    background-color:rgba(80, 80, 80, 0.75);
    align-items: center;
    justify-content: center;
    color:white;
    text-align: justify;
    margin: 150px 100px;
    transition-duration: 1s;
    padding: 20px;
    border-radius: 10px;
    min-height: 200px;
}
.text-container:hover{
    color:whitesmoke;
    background-color:rgba(47, 79, 79, 0.726);
}

.choice-btn{
    text-decoration: none;
    background-color:aliceblue;
    border: none;
    border-radius:5px ;
    color:saddlebrown;
    padding: 10px 20px;
    font-weight: bold;
}
.choice-btn:hover{
    color: maroon;
    background-color: mintcream;
}
.miss-text{
color: goldenrod;
letter-spacing: 0.09rem;
}
.miss-p{
    color: lightgreen;
}
#group-link{
    line-height: 50px;
    color: lightgreen;
}
.code-kalima{
    color: greenyellow;
}
.remove-click{
    color:chocolate;
    text-decoration: none;
}
.remove-click:hover{
    color:rgba(199, 21, 134, 0.562);
    color: goldenrod;
}
